{% extends "base.html" %}
{% block content %}

    {% for houseplant in houseplants %}
        {{ houseplant.horticultural_name }}<br>
        {{ houseplant.common_name }}<br>
        {{ houseplant.description }}<br>
        {{ houseplant.horticulturalist }}<br>
        {{ houseplant.date }}<br>
        {{ houseplant.image_url }}<br>
    {% endfor %}

    <div class="row" data-aos="fade-up" data-aos-offset="200">
        
        <div class="col s12 l3 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://images.unsplash.com/photo-1621923164562-21d3118adae4">
              </div>
              <div class="card-content">
                <span class="card-title activator center green-text text-darken-4"><strong>Spathiphyllum</strong></span>
                <span class="card-title activator center">Peace Lily</span>
                <p class="grey-text text-darken-4 center">This is a Peace Lily - rarely grows for long</p>
                <br><br>
                <small class="right">Date added</small>
                <small class="left grey-text text-darken-3">category:Foliage</small>
              </div>
              <div class="card-reveal">
                <span class="card-title green-text text-darken-4"><strong>How to look after this plant</strong><i class="fa-solid fa-xmark right"></i></span>
                <p class="grey-text text-darken-4" >Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
        </div>

    {% endblock %}
</body>
</html>