{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Register</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix green-text text-darken-4"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix green-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                     <!-- avatar -->    
                <div class="row">
                    <div class="input-field col s12">
                        <select class="icons" name="avatar" id="avatar" required>
                          <option value="" disabled selected>Choose your avatar</option>
                          <option value="gardener.png" alt="Gardener avatar" data-icon="{{ url_for('static', filename='avatars/gardener.png') }}">Horticulturalist</option>
                          <option value="watering_can.png" alt="Watering can avatar" data-icon="{{ url_for('static', filename='avatars/watering_can.png') }}">Watering Can</option>
                          <option value="monstera.png" alt="Monstera avatar" data-icon="{{ url_for('static', filename='avatars/monstera.png') }}">Monstera</option>
                          <option value="plant_influencer.png" alt="Plant influencer avatar" data-icon="{{ url_for('static', filename='avatars/plant_influencer.png') }}">Plant Influencer</option>
                          <option value="cat_plant.png" alt="Cat and plant avatar" data-icon="{{ url_for('static', filename='avatars/cat_plant.png') }}">Cat and houseplant</option>
                          <option value="cactus.png" alt="Cactus avatar" data-icon="{{ url_for('static', filename='avatars/cactus.png') }}">Cactus</option>
                          <option value="gardening.png" alt="Gardening avatar" data-icon="{{ url_for('static', filename='avatars/gardening.png') }}">Gardener</option>
                        </select>
                        <label>Images in select</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large green darken-4 text-shadow">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
                
                
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already Registered?
                <a href="{{ url_for('login') }}" class="green-text text-darken-4">Log In</a>
            </p>
        </div>
    </div>

{% endblock %}